ATTRS{manufacturer}=="SEGGER", ATTRS{product}=="J-Link", \
    SUBSYSTEMS=="usb", TAG+="uaccess"
ATTRS{manufacturer}=="SEGGER", ATTRS{product}=="J-Link", \
    KERNEL=="ttyACM*", TAG+="uaccess"
