# UDEV Rules for Siglent devices

ATTRS{manufacturer}=="Siglent", ATTRS{product}=="SPD3000", \
    SUBSYSTEMS=="usb", TAG+="uaccess"
ATTRS{manufacturer}=="Siglent", ATTRS{product}=="SPD3000", \
    KERNEL=="usbtmc*", TAG+="uaccess"
ACTION=="add", \
    ATTRS{manufacturer}=="Siglent", ATTRS{product}=="SPD3000", \
    SYMLINK+="spd3000"
